@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Desktop</h1>

    <a href="/Home/ToMobile">To Mobile View</a>
    <a href="/Home/ToTablet">To Tablet View</a>
</div>