@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mobile</h1>

    <a href="/Home/ToDesktop">To Desktop View</a>
    <a href="/Home/ToTablet">To tablet View</a>
</div>
